* {
  box-sizing: border-box;
}

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

canvas {
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: -1;
  top: 0;
  left: 0;
}

.wrapper {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.calculator {
  height: 700px;
  max-width: 580px;
  display: grid;
  grid-template-rows: 200px 1fr;
  border-radius: 5px;
  position: relative;
  z-index: 1;
  box-shadow:
    0 2px 6px rgba(0,0,0,0.5),
    inset 0 1px rgba(125,41,54,0.3),
    inset 0 10px rgba(125,41,54,0.2),
    inset 0 10px 20px rgba(125,41,54,0.25),
    inset 0 -15px 30px rgba(0,0,0,0.3);
  background: rgba(29, 9, 12, 0.8);
}

.screen {
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  box-shadow:
    0 2px 6px rgba(0,0,0, 0.5),
    inset 0 1px rgba(125,41,54, 0.3),
    inset 0 10px 20px rgba(125,41,54, 0.25),
    inset 0 -15px 30px rgba(0,0,0,0.3);
  /* background: rgba(244, 244, 239, 0.8); */
  background: rgba(48,16,21,0.8);
}

.keypad {
  padding: 20px;
  display: grid;
  grid-gap: 10px;
  grid-template-columns:  minmax(120px, 1fr) 120px;
  grid-template-rows: 120px 1fr;
  grid-template-areas:
    "other other other" 
    "pads  pads  operators";
}

.numbers {
  grid-area: pads;
  display: grid;
  grid-gap: 10px;
  grid-template-columns: repeat(3, minmax(120px, 1fr));
}

.operators {
  grid-area: operators;
  display: grid;
  grid-gap: 10px;
  grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
}

.other {
  grid-area: other;
  display: grid;
  grid-gap: 10px;
  grid-template-columns: repeat(4, minmax(120px, 1fr));
}

.cell {
  font-size: 35px;
  outline: 0;
  border-color: rgba(244, 244, 239, 0.8);
  color: rgba(244, 244, 239, 1);
  background: #432616;
  border-radius: 5px;
  transition: all 0.2s;
}

.cell--operator {
  background: #431634;
}

.cell--other {
  /* background: rgba(160,29,38, 0.75); */
  
  background: #43161d;
}

.cell:hover {
  background: rgba(32, 35, 42, 0.75);
  color: rgba(160,29,38, 1);
  border-color: rgba(160,29,38, 0.8);
}

sup, small {
  font-size: 17px;
}
