:root {
  --keypadRows: 7;
  --keypadCols: 5;
}

@font-face {
  font-family: digital7;
  src: url(../fonts/digital-7.mono.woff);
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-family: arial, sans-serif;
  font-size: 10px;
}

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
  position: relative;
}

canvas {
  width: 100vw;
  height: 100vh;
  position: fixed;
  z-index: -1;
  top: 0;
  left: 0;
}

.wrapper {
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.calculator {
  width: 60rem;
  height: 80rem;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 20rem 1fr;
      grid-template-rows: 20rem 1fr;
  border-radius: 0.5rem;
  position: relative;
  z-index: 1;
  -webkit-box-shadow: 0 0.2rem 0.6rem rgba(0, 0, 0, 0.5), inset 0 0.1rem rgba(189, 208, 205, 0.3), inset 0 1rem rgba(189, 208, 205, 0.2), inset 0 1rem 2rem rgba(189, 208, 205, 0.25), inset 0 -1.5rem 3rem rgba(0, 0, 0, 0.3);
          box-shadow: 0 0.2rem 0.6rem rgba(0, 0, 0, 0.5), inset 0 0.1rem rgba(189, 208, 205, 0.3), inset 0 1rem rgba(189, 208, 205, 0.2), inset 0 1rem 2rem rgba(189, 208, 205, 0.25), inset 0 -1.5rem 3rem rgba(0, 0, 0, 0.3);
  background: rgba(234, 240, 239, 0.65);
  font-family: inherit;
}

.screen {
  border-top-left-radius: 0.5rem;
  border-top-right-radius: 0.5rem;
  -webkit-box-shadow: 0 0.2rem 0.6rem rgba(57, 38, 26, 0.5), inset 0 0.1rem rgba(57, 38, 26, 0.3), inset 0 1rem 2rem rgba(57, 38, 26, 0.25), inset 0 -1.5rem 3rem rgba(57, 38, 26, 0.3);
          box-shadow: 0 0.2rem 0.6rem rgba(57, 38, 26, 0.5), inset 0 0.1rem rgba(57, 38, 26, 0.3), inset 0 1rem 2rem rgba(57, 38, 26, 0.25), inset 0 -1.5rem 3rem rgba(57, 38, 26, 0.3);
  background: rgba(235, 234, 240, 0.65);
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  -ms-grid-rows: 70%;
      grid-template-rows: 70%;
  -ms-flex-line-pack: center;
      align-content: center;
  position: relative;
}

.screen__switch {
  bottom: -0.5rem;
  position: absolute;
  left: 1.8rem;
  height: 3.6rem;
}

.onoffswitch {
  position: relative;
  width: 11.5rem;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}

.onoffswitch-checkbox {
  display: none;
}

.onoffswitch-label {
  display: block;
  overflow: hidden;
  cursor: pointer;
  border: 0.2rem solid #4b5780;
  border-radius: 0.5rem;
}

.onoffswitch-inner {
  display: block;
  width: 200%;
  margin-left: -100%;
  -webkit-transition: margin 0.3s ease-in 0s;
  transition: margin 0.3s ease-in 0s;
}

.onoffswitch-inner:before,
.onoffswitch-inner:after {
  display: block;
  float: left;
  width: 50%;
  height: 3rem;
  padding: 0;
  line-height: 3rem;
  font-size: 1.4rem;
  color: #fff;
  font-family: Arial, sans-serif;
  font-weight: bold;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.onoffswitch-inner:before {
  content: "Scientific";
  padding-left: 1rem;
  background-color: #ca3e49;
  color: #fff;
}

.onoffswitch-inner:after {
  content: "Standard";
  padding-right: 1rem;
  background-color: #4b5780;
  color: #fff;
  text-align: right;
}

.onoffswitch-switch {
  display: block;
  width: 1.8rem;
  margin: 0.6rem;
  background: #fff;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 7.6rem;
  border: 0.2rem solid #4b5780;
  border-radius: 0.5rem;
  -webkit-transition: all 0.3s ease-in 0s;
  transition: all 0.3s ease-in 0s;
}

.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-inner {
  margin-left: 0;
}

.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-switch {
  right: 0;
}

.screen-content {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  -ms-grid-rows: 6fr 3fr;
      grid-template-rows: 6fr 3fr;
  -ms-flex-line-pack: center;
      align-content: center;
  background: rgba(0, 0, 0, 0.15);
}

.screen__input {
  padding: 0 2rem;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 1fr;
  -ms-grid-columns: 1fr;
      grid-template: 1fr / 1fr;
  font-family: "digital7";
  font-size: 7rem;
  text-align: right;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  overflow: auto;
}

.screen__expression {
  padding: 0 2rem;
  text-align: right;
  display: -ms-grid;
  display: grid;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  overflow: auto;
  font-size: 2.5rem;
}

.keypad {
  padding: 2rem;
  display: -ms-grid;
  display: grid;
  grid-gap: 0.5rem;
  -ms-grid-columns: (1fr)[var];
      grid-template-columns: repeat(var(--keypadCols), 1fr);
  -ms-grid-rows: (1fr)[var];
      grid-template-rows: repeat(var(--keypadRows), 1fr);
}

.cell {
  border-radius: 0.5rem;
  background-position: center;
  -webkit-transition: background 0.8s;
  transition: background 0.8s;
  font-size: 3.5rem;
  line-height: 2;
  outline: 0;
  border-color: rgba(75, 87, 128, 0.8);
  color: #ebeaf0;
  background: #2f3650;
  font-family: inherit;
}

.cell--prime {
  background: #4b5780;
}

.cell--sec {
  background: #ca3e49;
}

@media only screen and (min-width: 1600px) {
  .cell:hover {
    background: #424c70 radial-gradient(circle, transparent 1%, #424c70 1%) center/15000%;
  }
  .cell--prime:hover {
    background: #5e6da0 radial-gradient(circle, transparent 1%, #5e6da0 1%) center/15000%;
  }
  .cell--sec:hover {
    background: #d5666f radial-gradient(circle, transparent 1%, #d5666f 1%) center/15000%;
  }
  .cell:active {
    background-color: #5e6ca0;
    background-size: 100%;
    -webkit-transition: background 0s;
    transition: background 0s;
  }
  .cell--prime:active {
    background-color: #8e98bd;
    background-size: 100%;
    -webkit-transition: background 0s;
    transition: background 0s;
  }
  .cell--sec:active {
    background-color: #e5a2a7;
    background-size: 100%;
    -webkit-transition: background 0s;
    transition: background 0s;
  }
}

@media only screen and (max-width: 768px) {
  html {
    font-size: 5.5px;
  }
  .cell {
    font-size: 3.3rem;
  }
}

@media only screen and (max-width: 1024px) and (orientation: landscape) {
  html {
    font-size: 7.5px;
  }
  .wrapper {
    padding-bottom: 10rem;
  }
  .cell {
    font-size: 2.3rem;
  }
  .cell[value="deleteOne"] {
    font-size: 4rem;
    line-height: 1;
  }
}
/*# sourceMappingURL=main.css.map */